body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    box-shadow: 0 6px 22px hsla(230, 10%, 5%, 0.5);
    border-radius: 10px;
    width: 100%;
    margin: 10px;
    padding: 5px;
}
.card-mask {
    height: 200px;
    background-color: var(--gray-color);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.card-mask img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
}
